﻿@model Numerous.Domain.Puzzle

<!DOCTYPE html>
<html ng-app>
<head>
    <title ng-bind="helloAngular"></title>
</head>
<body>

    <h1>Numerous</h1>

    <div class="container">
        <h2>Puzzle</h2>

        <h3>Numbers</h3>

        <div class="row">

            <div class=".col-md-8">
                <input type="button" value="@Model.Numbers.FirstOrDefault()" id="Number1" />
                <input type="button" value="@Model.Numbers.Skip(1).FirstOrDefault()" id="Number2" />
            </div>

            <div class=".col-md-4">
                <input type="button" value="+" id="Command1" />
                <input type="button" value="-" id="Command2" />
            </div>

        </div>

        <h3>Target</h3>

        <div class="row">

            <div class=".col-md-8" id="Solution">

            </div>
        
            <div class=".col-md-4">
                <p>3</p>
            </div>

        <input type="submit" value="Submit" id="Submit" />

        <h2>Processing</h2>

        <div class="row">
            [empty]
        </div>

        <h2>Results</h2>

        <div class="row">
            [empty]
        </div>
    </div>



    <p>
        Built using Bootstrap
    </p>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="~/Scripts/jquery-2.1.3.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#Number1").click(function () {
                    $("#Solution").text($("#Solution").text() + "1");
                });

                $("#Number2").click(function () {
                    $("#Solution").text($("#Solution").text() + "2");
                });

                $("#Command1").click(function () {
                    $("#Solution").text($("#Solution").text() + "+");
                });

                $("#Command2").click(function () {
                    $("#Solution").text($("#Solution").text() + "-");
                });

                $("#Submit").click(function () {                    
                    $.post("Home/SubmitSolution",
                        {
                            solution: "1+2"
                        },
                        function(data,status){
                            //alert("Data: " + data + "\nStatus: " + status);
                        });
                });
            });
        </script>
        <script src="~/Scripts/numerous.js"></script>
</body>
</html>